body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 360px;
    font-family: Arial, Helvetica, sans-serif, 'poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.container{
    width: 100%;
    height: 100vh; 
    background-image: url("./images/background.jpg");
    background-position: center;
    background-size: cover;
    padding: 0;
    color: azure; 
}

nav{
    width:100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.logo{
    width: 70px;
    cursor: pointer;
    padding-left: 3%;
}

nav ul{
    flex: 1
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color: azure;
    text-decoration: solid;
}

nav .btn{
    color: azure;
    text-shadow: 5;
    border: 1px solid azure;
    padding: 0;
}


::selection{
    color: #fff;
    background: #675AFE;
  }

  .wrapper{
    width: 400px;
    padding: 30px;
    -webkit-border-radius: 24px 24px 24px 25px;
    -moz-border-radius: 24px 24px 24px 25px;
    border-radius: 24px 24px 24px 25px;
    background: rgba(30,30,63,0.86);
    border: 6px inset #dde9f5;
    -webkit-box-shadow: 10px 10px 64px 8px rgba(76,82,189,0.75);
    -moz-box-shadow: 10px 10px 64px 8px rgba(76,82,189,0.75);
    box-shadow: 10px 10px 64px 8px rgba(76,82,189,0.75);
    margin: auto;
    margin-top: 7%;

  }

  .wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(76,82,189,0.75);
  }

  .wrapper form{
    margin: 40px 0 20px 0;
  }

  form :where(input, select, button){
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
  }

  form p{
    font-size: 18px;
    margin-bottom: 5px;
  }

  form input{
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
  }

  form input:focus{
    padding: 0 14px;
    border: 2px solid #675AFE;
  }

  form .drop-list{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  .drop-list .select-box{
    display: flex;
    width: 150px;
    height: 45px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid #999;
    color: #fff;
  }

  .select-box img{
    max-width: 21px;
  }

  .select-box select{
    width: auto;
    font-size: 16px;
    background: none;
    margin: 0 -5px 0 5px;
    color: white;
  }

  .select-box option {
    color: black;
  }

  .select-box select::-webkit-scrollbar{
    width: 8px;
  }

  .select-box select::-webkit-scrollbar-track{
    background: #888;
  }

  .select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 5px solid #ffffff;
  }

  .drop-list .icon{
    cursor: pointer;
    margin-top: 30px;
    font-size: 22px;
  }

  form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
  }

  form button{
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: #675AFE;
    transition: 0.3s ease;
    display: grid;
    place-content: center;
    transition: 0.2s;
  }

  form button:hover{
    background: #4534fe;
  }

  form .loader{
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: loading 1s ease infinite;
  }

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform:rotate(1turn);
    }
}